In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("recomendation.xls")
df

,Unnamed: 0,TRUE BELIEVER,THE DA VINCI CODE,THE WORLD IS FLAT,MY LIFE SO FAR,THE TAKING,THE KITE RUNNER,RUNNY BABBIT,HARRY POTTER
0,U1,2,4,,3,NaN,,1.0,1.0
1,U2,NaN,5,,,3.0,2,1.0,NaN
2,U3,3,,1,2,2.0,NaN,NaN,5.0
3,U4,NaN,3,NaN,NaN,4.0,1,NaN,3.0
4,U5,2,4,3,NaN,NaN,2,1.0,NaN
5,U6,5,4,NaN,3,1.0,NaN,3.0,1.0
6,U7,1,4,5,5,3.0,NaN,NaN,4.0
7,U8,2,2,NaN,NaN,4.0,5,1.0,NaN
8,U9,,NaN,4,2,1.0,NaN,NaN,5.0
9,U10,3,5,1,NaN,NaN,NaN,4.0,4.0
10,U11,2,,2,4,NaN,1,NaN,2.0
11,U12,5,4,NaN,2,NaN,1,1.0,3.0
12,U13,,,2,NaN,4.0,NaN,4.0,5.0
13,U14,,1,2,3,4.0,NaN,5.0,5.0
14,U15,NaN,3,NaN,NaN,5.0,3,NaN,2.0
15,U16,NaN,3,2,1,1.0,NaN,4.0,NaN
16,U17,1,5,1,2,NaN,4,NaN,4.0
17,U18,5,,4,NaN,2.0,1,3.0,5.0
18,U19,,3,NaN,2,NaN,4,1.0,4.0
19,U20,2,5,1,1,5.0,4,NaN,4.0
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NU1,4,NaN,5,3,2.0,3,NaN,4.0
22,NU2,NaN,5,2,5,3.0,NaN,2.0,NaN
23,NU3,2,1,NaN,NaN,2.0,3,4.0,1.0
24,NU4,3,5,1,1,NaN,1,NaN,3.0
25,NU5,NaN,2,3,2,1.0,NaN,3.0,NaN

In [3]:
# preprocessing
df = df.replace({" ":np.nan}) ## replace " " with nan  
df = df.to_numpy() # convert from dataframe to np array
df = df[:,1:].astype(float) # convert variable type to float
mean = np.nanmean(df, axis=1,keepdims=True) # calculate mean ignoring nans
df

C:\Users\ALIGUZ~1\AppData\Local\Temp/ipykernel_1284/629323724.py:5: RuntimeWarning: Mean of empty slice
  mean = np.nanmean(df, axis=1,keepdims=True) # calculate mean ignoring nans

array([[ 2.,  4., nan,  3., nan, nan,  1.,  1.],
       [nan,  5., nan, nan,  3.,  2.,  1., nan],
       [ 3., nan,  1.,  2.,  2., nan, nan,  5.],
       [nan,  3., nan, nan,  4.,  1., nan,  3.],
       [ 2.,  4.,  3., nan, nan,  2.,  1., nan],
       [ 5.,  4., nan,  3.,  1., nan,  3.,  1.],
       [ 1.,  4.,  5.,  5.,  3., nan, nan,  4.],
       [ 2.,  2., nan, nan,  4.,  5.,  1., nan],
       [nan, nan,  4.,  2.,  1., nan, nan,  5.],
       [ 3.,  5.,  1., nan, nan, nan,  4.,  4.],
       [ 2., nan,  2.,  4., nan,  1., nan,  2.],
       [ 5.,  4., nan,  2., nan,  1.,  1.,  3.],
       [nan, nan,  2., nan,  4., nan,  4.,  5.],
       [nan,  1.,  2.,  3.,  4., nan,  5.,  5.],
       [nan,  3., nan, nan,  5.,  3., nan,  2.],
       [nan,  3.,  2.,  1.,  1., nan,  4., nan],
       [ 1.,  5.,  1.,  2., nan,  4., nan,  4.],
       [ 5., nan,  4., nan,  2.,  1.,  3.,  5.],
       [nan,  3., nan,  2., nan,  4.,  1.,  4.],
       [ 2.,  5.,  1.,  1.,  5.,  4., nan,  4.],
       [nan, nan, nan, nan, nan, nan, nan, nan],
       [ 4., nan,  5.,  3.,  2.,  3., nan,  4.],
       [nan,  5.,  2.,  5.,  3., nan,  2., nan],
       [ 2.,  1., nan, nan,  2.,  3.,  4.,  1.],
       [ 3.,  5.,  1.,  1., nan,  1., nan,  3.],
       [nan,  2.,  3.,  2.,  1., nan,  3., nan]])

In [4]:
# calculate sim(a,b) = cov(a,b)/(sd(a)*sd(b)) only if a and b is not nan 
sim =np.zeros((df.shape[0],df.shape[0]))

for i in range(df.shape[0]):
    for j in range(df.shape[0]):
        if i==j:
            sim[i,j]= 0
        else:
            cov = 0
            stda = 0
            stdb = 0
            for k in range(df.shape[1]):
                if  ~np.isnan(df[i,k]) and ~np.isnan(df[j,k]):
                    cov += (df[i,k]-mean[i])*(df[j,k]-mean[j])
                    stda += (df[i,k]-mean[i])**2
                    stdb += (df[j,k]-mean[j])**2
            sim[i,j] = cov/(np.sqrt(stda)*np.sqrt(stdb))

C:\Users\ALIGUZ~1\AppData\Local\Temp/ipykernel_1284/2716135937.py:17: RuntimeWarning: invalid value encountered in double_scalars
  sim[i,j] = cov/(np.sqrt(stda)*np.sqrt(stdb))

In [5]:
def getMostKSimilarUsers(user_index, k, sim):
    tmp = sim[user_index]
    tmp = tmp[0:20]   
    return  (-tmp).argsort()[:k]

In [6]:
def getBooksPrediction(user_index,most_similar_users):
    pred=[]
    for i, b in enumerate(df[user_index]):
        if np.isnan(b):
            print("Unread book:{}".format(i))
            numerator = 0
            sum_of_sim = 0
            for j,msu in enumerate(most_similar_users):
                if ~np.isnan(df[msu,i]):
                    numerator += sim[user_index,msu]*(df[msu,i]-mean[msu])
                    sum_of_sim += sim[user_index,msu]
            if sum_of_sim!=0:
                p = mean[user_index]+(numerator/sum_of_sim)
                pred.append((i,p[0]))
    return pred

In [7]:
def suggestBook(pred):
    books =["TRUE BELIEVER","THE DA VINCI CODE","THE WORLD IS FLAT","MY LIFE SO FAR","THE TAKING","THE KITE RUNNER","RUNNY BABBIT","HARRY POTTER"]
    best_rate = np.NINF
    suggested_book  = np.NINF
    
    if len(pred)==0:
        print("No suggested book")
        return
    
    for i in range(len(pred)):
        if (pred[i][1]>best_rate):
            best_rate = pred[i][1]
            suggested_book = pred[i][0]
    print("Suggessted book: {}".format(books[suggested_book]))
    return books[suggested_book]

In [8]:
def displayMostSimilarUsers(user_index, msu):
    users = ["U1","U2","U3","U4","U5","U6","U7","U8","U9","U10","U11","U12","U13","U14","U15","U16","U17","U18","U19","U20"]
    for i,m in enumerate(msu):
        print("Most Similar Users:{} sim ratio:{}".format(users[m], sim[user_index,m]))

In [9]:
# advice book for k=1,3
for i in range(21,26):
    for j in range(1,4,2):
        print("users:{} k:{}".format(i,j))
        user_index = i
        k= j
        most_similar_users = getMostKSimilarUsers(user_index,k,sim)
        displayMostSimilarUsers(user_index, most_similar_users)

        pred= getBooksPrediction(user_index,most_similar_users)
        print("pred: {}".format(pred))
        suggestBook(pred)
        print("\n")

users:21 k:1
Most Similar Users:U9 sim ratio:0.8485281374238569
Unread book:1
Unread book:6
pred: []
No suggested book


users:21 k:3
Most Similar Users:U9 sim ratio:0.8485281374238569
Most Similar Users:U12 sim ratio:0.8438159256945179
Most Similar Users:U18 sim ratio:0.7001400420140048
Unread book:1
Unread book:6
pred: [(1, 4.833333333333334), (6, 2.437962011574829)]
Suggessted book: THE DA VINCI CODE


users:22 k:1
Most Similar Users:U2 sim ratio:0.9612102264841017
Unread book:0
Unread book:5
Unread book:7
pred: [(5, 2.65)]
Suggessted book: THE KITE RUNNER


users:22 k:3
Most Similar Users:U2 sim ratio:0.9612102264841017
Most Similar Users:U1 sim ratio:0.9515692560743098
Most Similar Users:U11 sim ratio:0.8206934047378385
Unread book:0
Unread book:5
Unread book:7
pred: [(0, 3.1999999999999997), (5, 2.44274298247051), (7, 2.6630766211379475)]
Suggessted book: TRUE BELIEVER


users:23 k:1
Most Similar Users:U16 sim ratio:0.5105835863457981
Unread book:2
Unread book:3
pred: [(2, 1.9666666666666663), (3, 0.9666666666666663)]
Suggessted book: THE WORLD IS FLAT


users:23 k:3
Most Similar Users:U16 sim ratio:0.5105835863457981
Most Similar Users:U14 sim ratio:0.4450869387589793
Most Similar Users:U15 sim ratio:0.30903211628637345
Unread book:2
Unread book:3
pred: [(2, 1.4388363625233649), (3, 1.370301605129191)]
Suggessted book: THE WORLD IS FLAT


users:24 k:1
Most Similar Users:U2 sim ratio:0.9899494936611665
Unread book:4
Unread book:6
pred: [(4, 2.5833333333333335), (6, 0.5833333333333335)]
Suggessted book: THE TAKING


users:24 k:3
Most Similar Users:U2 sim ratio:0.9899494936611665
Most Similar Users:U13 sim ratio:0.987762965329069
Most Similar Users:U16 sim ratio:0.8411582311380663
Unread book:4
Unread book:6
pred: [(4, 2.1506496208730495), (6, 2.343484186855615)]
Suggessted book: RUNNY BABBIT


users:25 k:1
Most Similar Users:U9 sim ratio:0.9533126619564755
Unread book:0
Unread book:5
Unread book:7
pred: [(7, 4.2)]
Suggessted book: HARRY POTTER


users:25 k:3
Most Similar Users:U9 sim ratio:0.9533126619564755
Most Similar Users:U18 sim ratio:0.7409585736349484
Most Similar Users:U6 sim ratio:0.6433252332435134
Unread book:0
Unread book:5
Unread book:7
pred: [(0, 4.099034202155723), (5, -0.1333333333333333), (7, 3.039377844658258)]
Suggessted book: TRUE BELIEVER

In [10]:
## save sim() table
sim= np.around(sim,decimals=3)
df_sim = pd.DataFrame(sim)
print("{}".format(df_sim))
df_sim.to_excel("output.xlsx")

       0      1      2      3      4      5      6      7      8      9   ...  \
0   0.000  0.997 -0.943  0.196  0.987  0.473  0.258  0.191 -0.992  0.330  ...
1   0.997  0.000 -1.000  0.424  0.996  0.301  0.346  0.000 -1.000  0.524  ...
2  -0.943 -1.000  0.000 -0.048 -0.942 -0.291 -0.276 -1.000  0.526  0.702  ...
3   0.196  0.424 -0.048  0.000  0.377 -0.666 -0.629 -0.448 -0.555  0.910  ...
4   0.987  0.996 -0.942  0.377  0.000  0.144  0.456  0.101  1.000  0.066  ...
5   0.473  0.301 -0.291 -0.666  0.144  0.000 -0.412 -0.689 -0.021 -0.000  ...
6   0.258  0.346 -0.276 -0.629  0.456 -0.412  0.000  0.234  0.312 -0.156  ...
7   0.191  0.000 -1.000 -0.448  0.101 -0.689  0.234  0.000 -1.000 -0.547  ...
8  -0.992 -1.000  0.526 -0.555  1.000 -0.021  0.312 -1.000  0.000 -0.217  ...
9   0.330  0.524  0.702  0.910  0.066 -0.000 -0.156 -0.547 -0.217  0.000  ...
10  0.648  1.000 -0.242  0.953  0.433  0.045  0.432 -0.871 -0.538  0.507  ...
11  0.354  0.898  0.348  0.864  0.534  0.561 -0.779 -0.329  0.800  0.068  ...
12 -0.832 -0.600  0.886  0.385 -0.520 -0.802 -0.630 -0.196  0.038  0.925  ...
13 -0.977 -0.950  0.873  0.174 -0.983 -0.699 -0.433 -0.049  0.140  0.136  ...
14  0.381  0.015 -0.761  0.474 -0.514 -0.196 -0.943  0.373 -0.986 -0.528  ...
15 -0.316 -0.250  0.569 -0.707 -0.311  0.569 -0.209 -1.000  0.812  0.487  ...
16  0.299  0.685  0.624 -0.249  0.409 -0.381  0.202  0.303  0.234  0.875  ...
17 -0.475  0.385  0.531  0.414  0.235  0.319 -0.246 -0.737  0.994 -0.230  ...
18  0.073  0.422  0.942 -0.574  0.502 -0.474 -0.291  0.892  0.992 -0.010  ...
19  0.113  0.607  0.448  0.238  0.315 -0.429 -0.209  0.431 -0.173  0.962  ...
20    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN  ...
21 -0.872  0.000  0.029 -0.244  0.658  0.484  0.152 -0.756  0.849 -0.842  ...
22  0.952  0.961  0.388 -0.048  0.654  0.448  0.196  0.152 -0.415  0.677  ...
23 -0.467 -0.942 -0.928 -0.556 -0.916  0.116 -0.048 -0.078 -0.600 -0.305  ...
24  0.387  0.990  0.766  0.581  0.622  0.324 -0.376 -0.741  0.272  0.817  ...
25 -0.756 -0.516 -0.167 -0.999 -0.378  0.643  0.515 -0.810  0.953 -0.520  ...

       16     17     18     19   20     21     22     23     24     25
0   0.299 -0.475  0.073  0.113  NaN -0.872  0.952 -0.467  0.387 -0.756
1   0.685  0.385  0.422  0.607  NaN  0.000  0.961 -0.942  0.990 -0.516
2   0.624  0.531  0.942  0.448  NaN  0.029  0.388 -0.928  0.766 -0.167
3  -0.249  0.414 -0.574  0.238  NaN -0.244 -0.048 -0.556  0.581 -0.999
4   0.409  0.235  0.502  0.315  NaN  0.658  0.654 -0.916  0.622 -0.378
5  -0.381  0.319 -0.474 -0.429  NaN  0.484  0.448  0.116  0.324  0.643
6   0.202 -0.246 -0.291 -0.209  NaN  0.152  0.196 -0.048 -0.376  0.515
7   0.303 -0.737  0.892  0.431  NaN -0.756  0.152 -0.078 -0.741 -0.810
8   0.234  0.994  0.992 -0.173  NaN  0.849 -0.415 -0.600  0.272  0.953
9   0.875 -0.230 -0.010  0.962  NaN -0.842  0.677 -0.305  0.817 -0.520
10 -0.344  0.473 -0.765 -0.581  NaN -0.203  0.821 -0.412 -0.146 -0.348
11 -0.217  0.800  0.300  0.009  NaN  0.844  0.571 -0.724  0.765 -0.773
12  0.999  0.101  0.381  0.824  NaN -0.503  0.555 -0.368  0.988 -0.509
13 -0.038  0.070 -0.155  0.143  NaN -0.396 -0.507  0.445 -0.273  0.000
14 -0.648 -0.560 -0.833  0.238  NaN -0.870 -0.377  0.309 -0.294 -0.953
15  0.720  0.261 -0.464  0.298  NaN  0.564 -0.303  0.511  0.841  0.642
16  0.000 -0.486  0.726  0.915  NaN -0.566  0.597 -0.429  0.521 -0.691
17 -0.486  0.000 -0.028 -0.534  NaN  0.700  0.022 -0.542  0.623  0.741
18  0.726 -0.028  0.000  0.712  NaN  0.246  0.296 -0.609  0.127 -0.786
19  0.915 -0.534  0.712  0.000  NaN -0.597  0.167 -0.444  0.651 -0.659
20    NaN    NaN    NaN    NaN  0.0    NaN    NaN    NaN    NaN    NaN
21 -0.566  0.700  0.246 -0.597  NaN  0.000 -0.488 -0.331  0.000  0.977
22  0.597  0.022  0.296  0.167  NaN -0.488  0.000 -0.926  0.460 -0.473
23 -0.429 -0.542 -0.609 -0.444  NaN -0.331 -0.926  0.000 -0.881  0.599
24  0.521  0.623  0.127  0.651  NaN  0.000  0.460 -0.881  0.000 -0.481
25 -0.691  0.741 -0.786 -0.659  NaN  0.977 -0.473  0.599 -0.481  0.000

[26 rows x 26 columns]